.womenshop .card .card-body h5.card-title {
    font-family: Trirong, serif;
    font-style: italic;
    font-size: 22px;
    letter-spacing: normal;
}
.womenshop .card img{
    border-radius: 50%;
}
.womenshop .image-section{
    position: relative;
    z-index: 1;
}
.womenshop .image-section:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ffc929b8;
    border-radius: 50%;
    bottom: -5px;
    left: 50%;
    right: auto;
    transform: translateX(-50%);
    z-index: -1;
}